Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ Open Source Tools for Data Science
+ Librarues for Data Science
+ Data Sets
+ Machine Learning Models

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. Tensor Flow
8. PyTorch

| Data Science Tools | 
| -------------| 
| MySQL | 
| Apache | 
| GitHub |

Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5

17

In [11]:
convert 200 minutes into hours 
200/60
This will convert 200 minutes to hours by diving by 60

SyntaxError: invalid syntax (925990269.py, line 1)

## Author
Dany Alejandro Diaz Suarez